.navbar .navbar-actions{
 width: 100%;
display: flex;
flex-direction: row;
background-color: lightblue;
}

.navbar .nav-action{
    margin: 13px;
    cursor: pointer;
    color: white;
}
.navbar .nav-action:hover{
    color: black;
}
.navbar .selectedLocation{
    background-color: lightblue;
}